<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    
    <add key="OAuthApiUrl" value="https://testauth.taxbandits.com/v1/" />
    <add key="TBSApiUrl" value="https://testapi.taxbandits.com/v1.5.0/" />
    <add key="OAuthApiMethodRoute" value="auth" />
    
    <!--Credentials from Dev Console (Settings ==> API Credentials)-->
    <add key="UserToken" value="Your UserToken here" />
    <add key="ClientId" value="Your ClientId here" />
    <add key="ClientSecret" value="Your ClientSecret here" />
    
  </appSettings>
</configuration>
